/* BODY BACKGROUND */
$background: rgb(0, 0, 0);

/* MENU */
$navbg: rgba(112,11,151, 0.8);
$navtext: whitesmoke;

/* TEXT */
$text: whitesmoke;

/* CARD */
$primary: #700b97;
$cardboxshadow: rgba(40, 40, 40, 0.5);

/* FOOTER */
$primary: #700b97; 
$SIbg: whitesmoke;
$primary: #700b97;
$SIhoverbg: black;
$SIhover: whitesmoke;

/* FOOTER NAV e BOTTOM */
$primary: #700b97;
$text: whitesmoke;

/* FORM */
$primary: #700b97; 
$input: #717171;
$inputbackground: #4a4a4a;

$accent: #929191;
$buttoncolor: #ffffff;
$buttonborder: #3e065f;
$buttonp: #000;