/* BODY BACKGROUND */
$bgscuro: rgb(0, 0, 0);

/* MENU */
$navbgscuro: rgba(112,11,151, 0.8);
$navcolorscuro: whitesmoke;

/* TEXT */
$text: whitesmoke;

/* PORTFOLIO CARD */
$cardbg: #700b97;
$cardboxshadow: rgba(255, 255, 255, 0.4);

/* FOOTER */
$footerbgscuro: #700b97;
$SIbgscuro: whitesmoke;
$SIscuro: #700b97;
$SIhoverbgscuro: black;
$SIhoverscuro: whitesmoke;

/* FOOTER NAV e BOTTOM */
$footernavscuro: whitesmoke;
$footerbottombgscuro: #700b97;
$footerbottomPscuro: whitesmoke;

/* FORM */
$formlabelscuro: #8e05c2;
$formcheckbox: #333;
$inputborder: #ccc;
$inputbgcolor: #efefef;

$inputselectedbg: greenyellow;
$buttoncolor: #fff;
$buttonborder: #3e065f;
$buttonp: #000;