@import "variabili";

/* FOOTER */
footer {
    background-color: $primary;
    margin-top: 100px; 
}

.footerContainer {
    width: 100%;
    padding: 30px 30px 30px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: $SIbg;
    margin: 15px;
    border-radius: 25%;
}

.socialIcons a i {
    font-size: 2em;
    color: $primary;
}

/* Hover on Social Media Incons */
.socialIcons a:hover {
    background-color: $SIhoverbg;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: $SIhover;
    transition: 0.5s;
}

/* Footer Nav and Bottom*/
.footerNav {
    margin: 30px;
    position: relative;
}

.footerNav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: -25px 0 0 -25px;
}

.footerNav ul li a {
    color: $text;
    margin: 20px;
    text-decoration: none;
    font-size: 0.9em;
    opacity: 0.7;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: $primary;
    padding: 20PX;
    text-align: center;
}

.footerBottom p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $text;
}
.designer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

/* RESPONSIVE IN 1024PX, 768PX, 430PX, 320PX */
@media screen and (max-width: 768px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }   
}

@media screen and (max-width: 430px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

@media screen and (max-width: 320px){
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        align-items: center;
        font-size: 0.9em;
        margin: 10px;
    }
}