@import "variabili";

h1,
h2,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $text;
}

h1 {
   padding-top: 40px;
   margin-top: 30px;
   font-size: 35px;
   text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
}

.portfolio {
    display: flex;
    flex-direction: row;
}

/* CARD */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.card {
    width: 400px;
    background-color: $primary;
    box-shadow: inset 0px 0px 21px 10px $cardboxshadow;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
} 

.card img {
    width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    background-color: $text;
    color: $buttonp;
    border: hidden;
    border-radius: 8px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
}
.btn:hover {
    background-color: $accent;
}

/* RESPONSIVE IN 1024PX, 768PX, 430PX */
@media screen and (max-width: 430px) {
    .card {
        width: 100%;
        margin: 10px;
    }
}